/** 
 * All the CSS to create the layout of the webpage and placement of elements.
 * No fonts, colors, etc.
 */

/* columns on either side of main for additional links */
.content-col {
    width: 40px;
    bottom: 0px;
    position: fixed;
    z-index: 10; /* how much to the front it is */
}

/* left column has social + technical links */
#link-col {
    left: 40px;
    right: auto;
}

/* for items in the columns */
#link-col-items,
#email-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* list of items that are links */
#link-col-items {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

/* add space between items in column */
#link-col-items li {
    padding: 10px;
}

/* and even more space after last item */
#link-col-items li:last-child {
    margin-bottom: 20px;
}

/* right column has email link */
#email-col {
    right: 40px;
    left: auto;
}

#email-container {
    position: relative;
}

/* email link */
#email-container a {
    margin: 20px auto;
    padding: 10px;
    writing-mode: vertical-rl;
}

/*====== NAVIGATION/HEADER =======*/
/* each item links to a section on page */
#nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

/* list of items */
#nav-items ol {
    display: flex;      /* makes nav items fill a row */
    list-style: none;   /* no default numbering */
    padding: 0px;
}

/* number before each item in list of nav */
#nav-items a::before {
    text-align: right;
}

/* each item is a button that navigates to a section */
.nav-item {
    list-style: none;
    margin: 0px 10px;
    padding-left: 5px; /* space between nav items */
}

/* for each item in nav, increment counter and use num */
.nav-item a::before {
    content: "0" counter(item) ". ";
}

/*====== MAIN ======*/
.numbered-heading {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    white-space: nowrap;
}

/* when enter main, count each section and for the heading
 * of each section use the corresponding number */
.numbered-heading::before {
    counter-increment: section 1;
    content: "0" counter(section) ". ";
    padding-right: 5px;
}

/* horizontal line after section name */
.numbered-heading::after {
    content: "";
    display: block;
    position: relative;
    top: 0px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
}

/* in about section, containers for list of personal skills */
#skill-list,
#tech-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 250px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
    position: relative;
}

/* for the items in personal skills */
#skill-list li,
#tech-list li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}

/* the bullet point design for each item */
#skill-list li::before,
#tech-list li::before {
    content: "▶︎";
    position: absolute;
    left: 0px;
    top: 2px;
    line-height: 12px;
}

/* table of jobs held */
#job-table {
    display: flex;
    min-height: 300px;
}

/* each company/job user can select */
#job-keys {
    position: relative;
    width: max-content; /* fit to job names */
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

/* container of info on selected company/job */
#job-results {
    position: relative;
    width: 100%;
    margin-left: 40px;
}

/* info for each company/job */
#job-results li {
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
}

/* bullet point for notes on that job */
#job-results li::before {
    content: "▶︎";
    left: 0px;
    position: absolute;
}

/* button for each job/company to select */
button.job {
    display: flex;
    padding: 0px 20px 2px;
    height: 42px;
    /* width: 100%; */
    position: relative;
    align-items: center;
    white-space: nowrap;
    text-align: left;
    border-left: 2px solid;
}

p.range {
    margin-bottom: 25px;
}

/* text describing job */
section.job-description {
    width: 100%;
    padding: 10px 5px;
    height: auto;
    /* margin-left: 10px */
}

/* list in text describing job */
section.job-description ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

/* item in list */
section.job-description li {
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
}

/* container for project preview (info + img) */
div.project-preview {
    display: grid;
    position: relative;
    gap: 10px;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    justify-content: flex-end;
    margin-bottom: 100px;
}

/* info part of project preview as part of grid */
div.project-content {
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
}

/* depending on whether content is left/right of image */
div.project-content[orientation="right"] {
    text-align: right;
    grid-column: 7 / -1; 
}
div.project-content[orientation="left"] {
    text-align: left; 
}

/* image part of project preview as part of grid */
div.project-image {
    z-index: 1;
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    z-index: 1;
}

/* placement for image when left of content */
div.project-image[orientation="left"] {
    grid-column: 1 / 8;
}

/* "case study #" */
h4.project-tag {
    margin: 10px 0px;
}

/* name of project */
h3.project-title {
    margin: 0px 0px 20px;
}

/* box with description */
p.project-description {
    padding: 30px;
    position: relative;
    z-index: 2;
}

/* horizontal list of tools */
.project-tools {
    display: flex;
    padding: 0px;
    margin: 25px 0px 10px;
    flex-wrap: wrap;
    list-style: none;
    z-index: 2;
    position: relative;
}

div.project-content[orientation="right"] .project-tools {
    justify-content: flex-end;
 }

div.project-content[orientation="left"] .project-tools {
   justify-content: flex-start; 
   text-align: left;
}

div.project-content[orientation="left"] li {
    margin: 0px 20px 5px 0px;    
}

div.project-content[orientation="right"] li {
    margin: 0px 0px 5px 20px;    
}

nav {
    display: flex;
    position: relative;
    width: 100%;
    z-index: 20;        /* most front of all items */
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    counter-reset: item 0;
}

main {
    margin: 0px auto;
    width: 100%;
    /*max-width: 1600px;*/
    min-height: 100vh;
    padding: 0 150px !important;
    /* now entered main can begin counting each section */
    counter-reset: section 0; 
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 800px; /* can alternate width of section */
    padding: 100px 0px;
}

body {
    margin: 0px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    line-height: 1.3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    height: var(--nav-height);
    z-index: 15;
}

footer {
    display: flex;
    flex-direction: column;
    min-width: 70px;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

nav ol li {
    counter-increment: item 1;
}

*, 
::before, 
::after {
    box-sizing: inherit;
}

/* define dimensions */
:root {
    --nav-height: 100px;
    --border-radius: 6px;
}