.wrapper {
    border: 2px solid brown;
}

#card {
    background-color:blue;
    border: 2px solid blue;
}

#card-text {
    background-color: magenta;
    border: 2px solid magenta;
}

#color-container {
    background-color: cadetblue;
    border: 2px solid salmon;
}