/**
* The aesthetic css with only colors, fonts, etc.
*/

@import "./format.css";
@import "./configure.css";

/*====== NAVIGATION/HEADER ======*/
li.nav-item a {
    text-decoration: none;
    color: var(--soft-grey);
    font-family: var(--font-mono);
    font-size: var(--text-small);
    font-weight: 400;
}

/* style of nav text and email on hover */
li.nav-item a:hover,
#email-container a:hover {
    text-decoration: none;
    color: var(--cobalt);
    font-weight: 500;
}

/*====== COLUMNS OUTSIDE OF MAIN ======*/
#email-container a:hover,
#link-col-items li:hover  {
    transform: translateY(-3px);
    cursor: pointer;
}

#link-col-items li {
    padding: 10px;
    /* color: var(--ash); */
}

#email-container a {
    text-decoration: none;
    line-height: 18px;
    font-family: var(--font-mono);
    font-size: var(--text-smaller);
    font-weight: 500;
    color: var(--soft-grey);
    letter-spacing: 0.1em;
}

/* vertical line after links in left/right cols */
.gutters::after {
    content: "";
    display: block;
    width: 1.5px;
    height: 150px;
    margin: 0px auto;
    background-color: var(--line-color);
}

/*====== SECTIONS IN MAIN ======*/
h2.numbered-heading::before {
    color: var(--cobalt);
    font-family: var(--font-mono);
    font-weight: 400;
    font-size: 20px;
}

h2.numbered-heading::after {
    background-color: var(--light-grey);
    height: 1.5px;
}

.nav-item a::before,
li::before {
    color: var(--cobalt);
}

#skill-list li,
#tech-list li,
ul.project-tools li {
    font-family: var(--font-mono);
    /* color: var(--med-grey); */
    font-weight: 400;
    font-size: 14px;
}

#skill-list li::before,
#tech-list li::before {
    color: var(--cobalt);
}

span.company {
    color: var(--cobalt);
}

p.range {
    font-family: var(--font-mono);
    color: var(--ash);
    font-size: 14px;
    font-weight: 500;
}

button.job {
    border: none;
    border-left: 2px solid var(--line-color);
    background-color: transparent;
    font-family: var(--font-mono);
    font-weight: 400;
    font-size: 13px;
    /* letter-spacing: 0.1em; */
}

button.job:hover,
button.job:active,
button.job:focus {
    cursor: pointer;
}

button.job[state="off"]:hover {
    color: var(--cobalt);
    background-color: var(--highlight-grey);
}

button.job[state="off"] {
    color: var(--ash);
    background-color: var(--hint-grey);
}

button.job[state="on"] {
    color: var(--cobalt);
    border-color: var(--cobalt);
    background-color: var(--background-grey);
}

div.project-image,
p.project-description {
    box-shadow: 0px 10px 30px -10px rgba(2,12,27,0.2);
}

div.project-image img {
    opacity: 0.8;
}

div.project-image img:hover {
   opacity: 1;
}

h4.project-tag {
    /* color: var(--soft-grey); */
    color: var(--cobalt);
    font-weight: 500;
}

h3.project-title {
    font-weight: 700;
    font-size: 22px;
}

p.project-description {
    background-color: var(--highlight-grey);
    border-radius: var(--border-radius);
    border: 1.5px solid var(--background-grey);
    font-size: 14px;
    color: var(--text);
    font-weight: 400;
}

a.inline-link {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    color: var(--ming);
}

a.inline-link::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    position: relative;
    bottom: 0.2em;
    background-color: var(--line-color);
    transition: var(--transition);
    opacity: 0.5;
}

a.inline-link:hover::after, 
a.inline-link:focus::after, 
a.inline-link:active::after {
    width: 100%;
}

img.icon {
    max-width: 20px;
}

header {
    background-color: var(--white-layer);
}

body {
    background-color: var(--white);
    color: var(--slate);
    font-family: var(--font-sans);
}

h1:first-of-type {
    color: var(--soft-grey);
}

h1 {
    margin-top: 10px;
    color: var(--softest-grey);
    line-height: 0.9;
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 800;
}

h2 {
    font-family: var(--font-sans);
    color: var(--soft-grey);
    font-size: 29px;
}

h3 {
font-family: var(--font-sans);
font-weight: 500;
line-height: 1.3; 
font-size: 18px;
color: var(--dark-grey);
margin-bottom: 2px;
}

h4 {
    font-family: var(--font-mono);
    font-weight: 400;
    font-size: 15px;
    color: var(--softest-grey);
}

footer h4 {
    font-size: 13px;
}

p {
    font-family: var(--font-sans);
    font-size: 17px;
    color: var(--text);
    font-weight: 400;
    margin: 0px 0px 15px;
}

b {
    color: var(--bright-cobalt);
}

li {
    font-size: 15px;
    color: var(--ash);
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px 0px 10px;
}

/* define color palette, fonts, & dimensions */
:root {
    --lavender: #ccd6f6;
    --midnight: #020c1b;
    --white-layer: rgba(255, 255, 255, 0.85);
    --white: #ffffff;
    --cobalt: #3C78d9;
    --bright-cobalt: #7694d9;
    --text: #596069;
    --background-grey: #eaeef2;
    --highlight-grey: #f5f6f8;
    --hint-grey: #fafbfc;
    --ash: #707680;
    --soft-grey: #848a92;
    --softest-grey: #b7bcc1;
    --light-grey: #e1e4e9;
    --line-color: #d1d7de;
    --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    --font-sans: 'Calibre', 'SF Pro Text', 'Inter', 'San Francisco', -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    --text-smallest: 12px;
    --text-smaller: 13px;
    --text-small: 14px;
    --text-medium: 16px;
    --text-large: 18px;
    --text-big: 20px;
    --text-bigger: 22px;
    --text-biggest: 32px;
    --border-radius: 6px;
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}